<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.administrator.christie">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".TApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".activity.QrcodeActivity"/>
        <activity android:name=".activity.BluetoothActivity"/>
        <activity android:name=".activity.AccessdataActivity"/>
        <activity android:name=".activity.VisitorActivity"/>
        <activity android:name=".activity.InviterecordActivity"/>
        <activity android:name=".activity.VisitrecordActivity"/>
        <activity android:name=".activity.ApplyActivity"/>
        <activity android:name=".activity.MoonpayActivity"/>
        <activity android:name=".activity.TempayActivity"/>
        <activity android:name=".activity.CarlockActivity"/>
        <activity android:name=".activity.PayrecordActivity"/>
        <activity android:name=".activity.MessageActivity"/>
        <activity android:name=".activity.PersonalActivity"/>
        <activity android:name=".activity.CardActivity"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.SettingsActivity"/>
        <activity android:name=".activity.MeettingActivity"/>
        <activity android:name=".activity.PwdModifyActivity"/>
        <activity android:name=".activity.ShenqingActivity"/>
        <activity android:name=".activity.AddPlatenoActivity"/>
        <activity android:name=".activity.PlateDetailActivity"/>
        <activity android:name=".activity.AddBluetoothActivity"/>
        <activity android:name=".activity.InvitationRecordActivity"/>
        <activity android:name=".activity.ReservatParkingActivity"/>
        <activity android:name=".activity.PayForParkingActivity"/>
        <activity android:name=".activity.VisitorInvitationActivity"/>
        <activity android:name=".activity.PaymentRecordActivity"/>
        <activity android:name=".activity.BindProjectActivity"/>
        <activity
            android:name=".activity.PlateActivity"
            android:label="@string/title_activity_plate"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.ConfirmActivity"/>
        <activity android:name=".activity.MobModifyActivity"/>

        <receiver
            android:name=".receiver.NetWorkStatusReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity android:name=".activity.ValidateActivity"/>
        <activity android:name=".activity.YypzActivity"/>
        <activity android:name=".activity.TdmjActivity"></activity>
        <!--集成支付宝声明-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
    </application>

</manifest>